*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/SourceSansPro/sourcesanspro-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/SourceSansPro/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  color: #fff;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
body.layout_1 {
  background: #fff;
}
body.layout_2 {
  background: #29abe2;
}
body.layout_3 {
  background: #5a9453;
}
body.layout_4 {
  background: #f7931e;
}
body.layout_5 {
  background: #a6aa9d;
}

.body-uomo {
  background: #29abe2;
}

.wrapper {
  position: relative;
  max-width: 1596px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.layout {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout:nth-child(5) {
  height: auto;
  padding: 100px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__logo {
  display: inline-block;
}
.hero__title {
  max-width: 415px;
  width: 100%;
  font-weight: 700;
  line-height: 82px;
  font-size: 65px;
  color: #6b6b6b;
  margin-bottom: 40px;
}
.hero__mid {
  max-width: 415px;
  width: 100%;
  margin-bottom: 40px;
}
.hero__mid-item {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 82px;
  color: #6b6b6b;
}
.hero__mid-item:first-child span {
  color: #29abe2;
}
.hero__mid-item:nth-child(2) span {
  color: #f7931e;
}
.hero__mid-item:last-child span {
  color: #5a9453;
}
.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__desc {
  display: inline-block;
  max-width: 415px;
  width: 100%;
  color: #6b6b6b;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #6b6b6b;
}
.hero__sketch {
  display: block;
}
.hero__graphic {
  position: relative;
  width: 650px;
}
.hero__graphic img {
  display: block;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content__inner {
  max-width: 557px;
  width: 100%;
}
.content__pre-text {
  display: inline-block;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.015em;
  margin-bottom: 40px;
}
.content__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  letter-spacing: 0.015em;
  margin-bottom: 80px;
}
.content__description {
  margin-bottom: 80px;
}
.content__link {
  font-weight: 400;
  font-size: 26px;
}
.content__graphic {
  position: relative;
  max-width: 650px;
}

@-webkit-keyframes floatY {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floatY {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes floatR {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes floatR {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes floatL {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes floatL {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.vert {
  position: absolute;
}
.vert_1 {
  left: 76px;
  width: 239px;
  top: 113px;
}
.vert_2 {
  top: 105px;
  width: 150px;
  left: 435px;
}
.vert_3 {
  width: 230px;
  position: absolute;
  right: 53px;
  top: 425px;
}

.gr1 {
  position: absolute;
  right: 411px;
  top: 132px;
}

.bike {
  display: block;
  width: 300px;
  position: absolute;
  top: 34%;
  left: 34%;
  -webkit-animation: floatY 10s ease-in-out infinite;
          animation: floatY 10s ease-in-out infinite;
}

.dragonfly {
  position: absolute;
  top: 30%;
  left: 12%;
  -webkit-animation: floatL 10s ease-in-out infinite;
          animation: floatL 10s ease-in-out infinite;
}

.smoke {
  position: absolute;
  top: 22%;
  left: 0;
  -webkit-animation: floatR 10s ease-in-out infinite;
          animation: floatR 10s ease-in-out infinite;
}

.invest__pre-title {
  display: block;
  font-size: 26px;
  margin-bottom: 23px;
}
.invest__pre-description {
  max-width: 490px;
  margin-bottom: 100px;
}
.invest__title {
  max-width: 567px;
  width: 100%;
  font-weight: 400;
  font-size: 63px;
  line-height: 79px;
  letter-spacing: 0.015em;
}
.invest__graphic {
  width: 650px;
  position: absolute;
  top: 0;
  right: 0;
}
.invest__list {
  position: relative;
}
.invest__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
.invest__list-item:first-child {
  right: 190px;
  top: 160px;
}
.invest__list-item:nth-child(2) {
  right: 190px;
  top: 315px;
}
.invest__list-item:nth-child(3) {
  right: 190px;
  top: 480px;
}
.invest__list-item:nth-child(4) {
  right: 190px;
  top: 636px;
}
.invest__list-item:nth-child(5) {
  right: 190px;
  top: 795px;
}
.invest__list-item:nth-child(6) {
  right: 190px;
  top: 954px;
}
.invest__list-title {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.015em;
}
.invest__list-num {
  font-weight: 700;
  font-size: 131px;
  line-height: 102px;
  margin-right: 28px;
}
.invest__list-description {
  max-width: 474px;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
}

.menu {
  padding: 35px;
  position: fixed;
  right: -100%;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  width: 568px;
  height: 100vh;
  background: #777769;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu.visible {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.page-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  background: #fff;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-text {
  display: block;
  margin-left: 25px;
  margin-top: 12px;
  font-size: 20px;
  color: #6e7377;
}
.header__logo img {
  width: 132px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list__item {
  margin-right: 60px;
}
.list__icon {
  margin-right: 10px;
}
.list__link {
  color: #6e7377;
  font-size: 20px;
}

.hamb {
  display: block;
  width: 45px;
}
.hamb span {
  display: block;
  width: 100%;
  height: 4px;
  background: #7c8996;
  margin-bottom: 9px;
}
.hamb span:last-child {
  margin-bottom: 0;
}

.page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-content:first-child {
  margin-top: 100px;
}
.page-content__descriptions {
  max-width: 500px;
  width: 100%;
}
.page-content__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 68px;
  margin-bottom: 80px;
}
.page-content__description {
  font-size: 15px;
  line-height: 25px;
}
.page-content__images {
  position: relative;
  width: 643px;
}
.page-content__images img {
  width: 100%;
}
.page-content__graphic {
  width: 250px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  .hero__title {
    font-size: 54px;
    line-height: 69px;
    margin-bottom: 20px;
  }

  .hero__mid-item {
    font-size: 54px;
    line-height: 55px;
    margin-bottom: 15px;
  }

  .hero__mid {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .layout {
    height: auto;
    margin-bottom: 80px;
  }

  .content__inner {
    max-width: 100%;
  }

  .content__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 35px;
  }

  .content__description {
    text-align: justify;
    margin-bottom: 35px;
  }

  .hero, .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__title {
    font-size: 40px;
    text-align: center;
    max-width: 100%;
    line-height: 48px;
  }

  .hero__mid-item {
    text-align: center;
    font-size: 40px;
  }

  .hero__mid {
    margin: 0 auto;
  }

  .hero__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .hero__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__desc {
    max-width: 100%;
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    text-align: justify;
  }
}
@media (max-width: 500px) {
  .content__title {
    font-size: 30px;
    line-height: 38px;
  }

  .bike {
    width: 155px;
  }

  .vert_1 {
    top: 10px;
  }

  .vert_2, .vert_3 {
    display: none;
  }

  .content__link {
    margin-bottom: 35px;
  }
}