@media (max-width: 1400px) {
	.hero__title {
		font-size: 54px;
		line-height: 69px;
		margin-bottom: 20px;
	}

	.tag {
		margin-left: 0;
	}

	.hero__mid-item {
		font-size: 54px;
		line-height: 55px;
		margin-bottom: 15px;
	}
	.hero__mid {
		margin-bottom: 20px;
	}
}
@media (max-width: 1200px) {
	.menu__list-links {
		display: none;
	}
	.menu__list-title {
		cursor: pointer;
	}
	.sloy {
		position: static;
		margin-bottom: 50px;
	}
	.invest .v-category__button, .content .v-category__button {
		margin-bottom: 50px !important;
	}
	.v-form__image {
		display: none;
		margin-bottom: 45px;
	}
	.v-form {
		padding: 40px 0;
	}
	.invest__list {
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.invest__list-item {
		width: 48%;
		margin-bottom: 35px;
	}
	.invest__title {
		max-width: 100%;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 35px;
	}
	.invest__pre-description {
		max-width: 100%;
		margin-bottom: 50px;
		text-align: justify;
	}
	.layout {
		height: auto;
		margin-bottom: 80px;
	}
	.content__inner {
		max-width: 100%;
	}
	.content__title {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 35px;
	}
	.content__description {
		text-align: justify;
		margin-bottom: 35px;
	}
	.hero,
	.content {
		flex-direction: column;
	}
	.hero__title {
		font-size: 40px;
		text-align: center;
		max-width: 100%;
		line-height: 48px;
	}
	.hero__mid-item {
		text-align: center;
		font-size: 40px;
	}
	#lottie {
		margin-bottom: 45px;
	}
	.content__graphic {
		margin-bottom: 45px;
	}
	.hero__mid {
		margin: 0 auto;
	}
	.hero__info {
		justify-content: center;
		margin-bottom: 40px;
	}
	.header__logo-text {
		display: none;
	}
	// #lottie {
	// 	display: none;
	// }
	.content__graphic {
		display: none;
	}
	.v-category__image {
		display: none;
		margin-bottom: 45px;
	}
	.v-categories {
		padding: 40px 0;
	}
	.n {
		display: block;
	}
}
@media (max-width: 992px) {
	.footer-wrapper {
		flex-direction: column;
	}
	.footer-logo {
		margin-bottom: 25px;
	}
	.copy__wrapper {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.v-category__title {
		font-size: 40px;
		line-height: 55px;
	}
	.grafik__inner {
		display: none;
	}
	.r_desc_wrapper {
		flex-direction: column;
	}
	.r_desc_left {
		margin-bottom: 35px;
		text-align: justify;
	}
	.r_desc {
		padding: 40px 0;
	}
	.grafik__list {
		padding-left: 37px;
		width: 100%;
	}
	.grafik__block-title {
		font-size: 18px;
	}
	.ingegnosi {
		padding: 40px 0;
	}
	.v-block__wrapper {
		flex-direction: column;
	}
	.ingegnosi__wrapper {
		flex-direction: column;
	}
	.ingegnosi__content {
		margin-bottom: 35px;
	}
	.v-block__content {
		padding: 50px 0;
	}
	.slider-item {
		height: 450px;
	}
	.slider-item .placeholder {
		width: 390px;
	}
	.hero__info {
		flex-direction: column;
	}
	.hero__desc {
		max-width: 100%;
		margin-right: 0;
		border-right: 0;
		padding-right: 0;
		text-align: justify;
	}
	.list__item {
		margin-right: 25px;
	}
	.hamb {
		width: 35px;
		& span {
			margin-bottom: 7px;
		}
	}
	.header {
		padding: 10px 0;
	}
	.page-content {
		flex-direction: column;
	}
	.page-content__descriptions {
		max-width: 100%;
	}
	.page-content:first-child {
		margin-bottom: 50px;
	}
	.page-common {
		padding-top: 50px;
	}
	.page-content__description {
		text-align: justify;
	}
	.page-content__title {
		margin-bottom: 35px;
		font-size: 40px;
		line-height: 50px;
	}
	.v-block__common {
		flex-wrap: wrap;
		margin-bottom: 35px;
	}
	.v-block__marks {
		margin: 0 auto;
	}
	.v-block__mark {
		margin-bottom: 19px;
	}
	.v-block__big-mark {
		width: 100%;
		margin-left: 0;
		& img {
			margin: 0 auto;
		}
	}
	.grafik {
		padding: 40px 0;
	}
}
@media (max-width: 768px) {
	.header__navigation {
		display: none;
	}
	.page-content__images {
		width: 100%;
	}
	.nap-block,
	.tag {
		width: 100%;
	}
	.slider-item {
		align-items: flex-end;
		height: 300px;
	}
	.user-title {
		font-size: 34px;
	}
	.user-desc {
		font-size: 18px;
	}
	.subscribe {
		margin-top: 15px;
	}
	.slider-item .placeholder {
		width: 315px;
	}
}
@media (max-width: 576px) {
	.invest__list-item {
		width: 100%;
	}
	.menu {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.content__title, .invest__title {
		font-size: 30px;
		line-height: 38px;
	}
	.v-category__title  {
		font-size: 28px;
		line-height: 40px;
	}
	.v-form__inputs {
		flex-wrap: wrap;
		& input {
			width: 100%;
			&:nth-child(2) {
				width: 100%;
				margin-bottom: 10px;
			}
			&:nth-child(3) {
				width: 100%;
			}
		}
	}
	.bike {
		width: 155px;
	}
	.vert_1 {
		top: 10px;
	}
	.vert_2,
	.vert_3 {
		display: none;
	}
	.content__link {
		margin-bottom: 35px;
	}
	.page-content__title {
		font-size: 30px;
		line-height: 40px;
	}
	.page-content__graphic {
		width: 140px !important;
	}
	.v-block__marks {
		width: 100%;
	}
	.dragonfly-pic {
		width: 270px !important;
	}
	.grafik__block-title {
		font-size: 16px;
	}
}
