.menu {
	padding: 25px;
	position: fixed;
	right: -100%;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	width: 568px;
	height: 100vh;
	background: #777769;
	transition: 0.5s;
	&__close {
		position: absolute;
		right: 25px;
		top: 25px;
	}
	&.visible {
		right: 0;
		opacity: 1;
		visibility: visible;
	}
	&__list {
		padding-left: 35px;
		padding-top: 15px;
		&-block {
			margin-bottom: 10px;
		}
		&-subscribe {
			display: flex;
			margin-top: 15px;
			& a {
				display: block;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&-title {
			font-size: 17px;
			font-weight: 700;
			color: #4D4D43;
		}
		&-link {
			font-size: 17px;
			color: #fff;
			display: block;
		}
		&-loc {
			font-size: 17px;
			display: block;
			color: #4D4D43;
		}
	}
}

.page-wrapper {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.v-categories__link {
	display: flex;
	width: 100%;
	justify-content: center;
	color: #6E7377;
	font-size: 26px;
	text-decoration: underline;
	margin: 40px 0;
}

.header {
	padding: 30px 0;
	background: #fff;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		display: flex;
		&-text {
			display: block;
			margin-left: 25px;
			margin-top: 12px;
			font-size: 20px;
			color: #6e7377;
		}
		& img {
			width: 132px;
		}
	}
	&__inner {
		display: flex;
		align-items: center;
	}
}

.list {
	display: flex;
	align-items: center;
	&__item {
		margin-right: 60px;
	}
	&__icon {
		margin-right: 10px;
	}
	&__link {
		color: #6e7377;
		font-size: 20px;
	}
}

.hamb {
	display: block;
	width: 45px;
	& span {
		display: block;
		width: 100%;
		height: 4px;
		background: #7c8996;
		margin-bottom: 9px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-common {
	padding-top: 100px;
}

.page-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__descriptions {
		max-width: 500px;
		width: 100%;
	}
	&__title {
		font-weight: 700;
		font-size: 60px;
		line-height: 68px;
		margin-bottom: 80px;
	}
	&__description {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 25px;
	}
	&__images {
		position: relative;
		width: 643px;
		& img {
			width: 100%;
		}
	}
	&__graphic {
		width: 250px !important;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.v-block {
	&__common {
		display: flex;
	}
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-size: 60px;
		color: #6e7377;
		margin-bottom: 100px;
	}
	&__description {
		font-size: 15px;
		color: #6e7377;
		margin-bottom: 80px;
	}
	&__marks {
		width: 355px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__mark {
		margin-bottom: 7px;
	}
	&__big-mark {
		margin-left: 15px;
	}
}

.nap-block {
	width: 643px;
	& img {
		width: 100%;
	}
}

.hash-tags {
	display: flex;
	margin-bottom: 15px;
	& .hash-tag {
		font-weight: 700;
		font-size: 15px;
	}
	& .hash-tag:first-child {
		color: #3493d3;
		margin-right: 50px;
	}
	& .hash-tag:nth-child(2) {
		color: #f07612;
	}
}

.tag {
	width: 500px;
	margin-left: -100px;
	margin-bottom: 50px;
	& img {
		width: 100%;
	}
}

#vert_menu {
	overflow: hidden;
	width: 100%;
}
#vert_menu li {
	float: left;
}
#vert_menu a {
	padding: 8px 20px 8px 40px;
	float: left;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	color: #6e7377;
	position: relative;
	background: #fff;
	min-width: 181px;
	width: auto;
	border: 1px solid #6e7377;
}

#vert_menu a::after,
#vert_menu a::before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -25px;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 2em solid;
	right: -2em;
}
#vert_menu a::after {
	z-index: 2;
	border-left-color: #525252;
}

.dragonfly-pic {
	width: unset !important;
}

.v-icons {
	max-width: 460px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.v-icon {
	width: 120px;
	margin-bottom: 35px;
	& img {
		margin: 0 auto;
	}
}

.v-icons__text,
.v-benefits__text {
	font-size: 15px;
}

.v-icons__text-hr,
.v-benefits__text-hr {
	width: 100%;
	height: 1px;
	background: #fff;
	margin: 25px 0;
}

.v-benefit {
	margin-bottom: 50px;
}

.v-benefit__num {
	font-size: 30px;
	font-weight: 700;
}

.v-benefit__text {
	font-size: 15px;
}
